body {
	font-family: 'Raleway', sans-serif;
}

.highlighted-1 {
	background-color: #ffc2ce;
}

.highlighted-2 {
	background-color: #e8bcd1;
}

.highlighted-3 {
	background-color: #ffd6de;
}

.highlighted-4 {
	background-color: #facae1;
}

.highlighted-5 {
	background-color: #ffe3f0;
}

.body {
	padding: 48px;
	margin: 0;
}

.header {
	padding: 24px;
	border-width: 3px;
	border-color: black;
	border-bottom: solid;
}

.footer {
	padding: 16px;
	border-width: 2px;
	border-color: black;
	border-top: solid;
}

.flexbox {
	display: flex;
}

.sidebar {
	max-width: 240px;
	max-width: 300px;
	text-align: center;
}

.sidebar .body {
	margin: 8px auto;
}

#console {
	font-size: 36px;
	font-weight: bold;
}

@media all and (max-width: 600px) {
	.flexbox {
		flex-direction: column
	}

	.sidebar {
		max-width: 100%;
	}
}